#table-container{
    width: 100%;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
table * {
    position: relative;
}
table td, table th {
    padding-left: 8px;
}
table thead tr {
    height: 60px;
    background: #FFED86;
    font-size: 16px;
    text-transform: capitalize;
}
table tbody tr {
    height: 48px;
    border-bottom: 1px solid #E3F1D5;
}
table tbody tr:last-child {
    border: 0;
}
table tbody tr:nth-child(even){
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #ddd;
}

table td, table th {
    text-align: left;
}
table td.l, table th.l {
    text-align: right;
}
table td.c, table th.c {
    text-align: center;
}
table td.r, table th.r {
    text-align: center;
}

body {
    background: #9BC86A;
    font: 400 14px 'Calibri','Arial';
    padding: 20px;
}

div.lib-pagination{
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

div.lib-pagination ul{
    list-style: none;

}

div.lib-pagination ul li{
    display: inline;
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #FFED86;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: background-color .2s linear;
}

div.lib-pagination ul li:hover, div.lib-pagination ul li.active{
    background-color: #f9bb3f;
}